.flexed {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between !important;
	align-items: center;
	color: black;
}
.main-top-header {
	width: 100%;
	height: 100%;

	.header-paper {
		border-radius: 0 !important;
	}
}
.header-light-mode {
	background-color: #c0baff !important;
}
.logo {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	border-right: 3px solid #e0e0e0 !important;
}
.logo-wider {
	max-width: 260px;
	min-width: 240px;
}
.logo-narrow {
	max-width: 70px;
	min-width: 56px;
}

.left-header {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}
.right-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	margin-right: 30px;
}

.right-menu-avatar {
	border-radius: 50%;

	.hover-btn {
		border-radius: 50%;
	}
	.avatar {
		width: 30px;
		height: 30px;
	}
}
.right-menu-avatar-bg-active {
	border: 1px solid #dbf4ff;
	background: linear-gradient(145deg, #cbe3ff, #abbfe0);
	.MuiButton-root {
		min-width: 40px;
	}
}
.right-menu-avatar-bg {
	border: 1px solid#e5e5e5;
	background: linear-gradient(145deg, #d5d5d5, #b3b3b3);
	.MuiButton-root {
		min-width: 40px;
	}
}

.header-right-badge {
	margin: auto 10px auto 0;
	cursor: pointer;
}

#customized-project-menu {

	.ellipsis{
		min-width: 280px !important;
	}
	.MuiList-padding {
		padding: 0px !important;
	}
	a {
		color: rgb(80, 80, 80) !important;
		.MuiTypography-body1 {
			font-weight: 500;
		}
	}
	.MuiListItem-gutters {
		padding: 10px !important;
	}
	.MuiListItemIcon-root {
    min-width: 38px !important;
}
}
.notification-root {
	display: flex;
	justify-content: center;
	align-items: center;
	.notification-toggle-btn {
		background-color: transparent !important;
		border: 0 !important;
		&:hover,
		&:focus,
		&:active {
			background-color: transparent !important;
		}
	}
}

.top-header-project-menu {
	padding-left: 20px !important;
}

.logo-pic {
	width: 60px !important;
	height: 60px !important;
}


.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}