.moment_acc {
	.ant-table-thead {
		display: none;
	}
	.ant-table-tbody {
		width: 100% !important;
	}
	.ant-table-tbody > tr > td {
		padding: 10px !important;
	}
}

.max-width-con{
	width: calc(60% + 1em) !important;
}