.paper-component{
  div{
    position: relative;
    .loading-circ-proj{
      /* optional size in px or %: */
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1111;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); /* for IE 9 */
      -webkit-transform: translate(-50%, -50%); /* for Safari */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: gray, $alpha: 0.4);
    }
}}