.MuiMenu-paper {
	max-height: calc(50% - 96px) !important;
}

.MuiMenu-paper::-webkit-scrollbar {
	width: 0.5em;
}

.MuiMenu-paper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(151, 151, 151, 0.3);
}

.MuiMenu-paper::-webkit-scrollbar-thumb {
	background-color: rgba(151, 151, 151, 0.842);
	outline: 1px solid rgb(214, 214, 214);
	border-radius: 5px;
}
