.MuiDropzoneArea-root {
	margin-top: 5px;
	min-height: 60px !important;
	.MuiDropzoneArea-text {
		color: gray !important;
		margin: 3px 0px 0px 0px !important;
	}
	.MuiDropzoneArea-icon {
		color: gray !important;
	}
}
