.btn-groups {
	.MuiButton-label {
		padding: 20px;
	}
}

.drawer_dark_mode {
	.ant-drawer-header {
		color: white !important;
		background: #424242 !important;
		border-bottom: 1px solid #595959 !important;
		border-radius: 2px 2px 0 0;
		.ant-drawer-title {
			color: white !important;
		}
		.ant-drawer-close {
			color: white !important;
		}
	}
	.ant-drawer-body {
		background: #424242 !important;
		.MuiButton-root {
			color: white !important;
		}
	}
}
