.loader-main {
	min-height: 250px;
}
.time-tracking {
	.MuiAccordionDetails-root {
		padding: 0px !important;
	}
}


.task-container{
	.MuiSelect-selectMenu,.MuiInputBase-input{
		height: 1.0600em !important	
	}
	.MuiListItem-gutters {
     padding-left: 0px !important; 
     padding-right: 0px !important; 
}
.MuiListItem-root{
	padding: 5px;
}
.MuiInputBase-input {
	font-size: 14px !important;
	padding-left: 10px !important;

}
}