.dashboard-project-card {
	width: 100%;
	padding: 10px;
	.typo-card-dashboard {
		padding: 10px 5px 20px 5px;
	}

	.MuiList-padding {
		padding: 0px !important;
	}

	.MuiListItem-root {
		flex-direction: column;

		.dashboard-list-item {
			display: flex;
			justify-content: flex-start;
			width: 100%;
		}
		.gap {
			gap: 10px;
		}
	}
}
.max-dashboard-card{
	max-width: 500px !important;
}