.dashboard-accordion {
  .MuiAccordionDetails-root {
    flex-direction: column;
  }
  .MuiButton-root {
    margin-top: 10px;
    padding: 2px 10px !important;
  }
  .acc-detail {
    display: flex !important;
    gap: 90px;
  }
  .type {
    border-radius: 50px;
    margin-bottom: 20px;
  }
}
