// .MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
// .MuiDataGrid-root .MuiDataGrid-cell:focus {
// }
.backlog {
	width: 100%;

	.MuiDataGrid-root {
		.MuiDataGrid-cell {
			padding: 0 !important;
		}
	}
	.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
	.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
		outline: none !important;
	}

	.MuiDataGrid-root MuiDataGrid-root .MuiDataGrid-rowCount,
	.MuiDataGrid-root .MuiDataGrid-selectedRowCount {
		visibility: hidden !important;
	}
	.MuiButton-outlinedPrimary {
		color: black !important;
	}

	.backlog-header-model {
		width: 100% !important;
		border: 0 !important;
		height: 100%;
		padding: 0 10px;
		.MuiButton-label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			width: 100%;
			text-align: left;
		}
		&:hover {
			background-color: inherit !important;
		}
	}
}

.backlog-create-list {
	margin: 40px 0;
}
