.people-main {
	width: 100%;
	text-align: center;

	.paper-component {
		width: 300px;
		box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f0f0f0;
		padding: 20px 0;

		.MuiTypography-root {
			margin: 6px !important;
		}
		.avatar-style {
			display: flex;
			justify-content: center;
			.avatar-size {
				margin-top: 10px;
				width: 230px;
				height: 230px;
			}
		}
	}
}
