.initial-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
	.initial-icon-head {
		padding: 20px;
		border-radius: 50%;
		background: linear-gradient(145deg, #ffffff, #e6e6e6);
		box-shadow: 6px 6px 12px #f5f5f5, -6px -6px 12px #ffffff;
		.icon {
			width: 300px;
			height: 300px;
		}
	}
	.first-line {
		margin: 20px 0;
		font-size: 30px;
		font-weight: bold;
	}
	.second-line {
		font-size: 16px;
	}
	.button {
		margin-top: 30px;
	}
}
