.error-page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	.error-emoji {
		max-width: 650px;
		max-height: 650px;
		min-height: 200px;
		min-width: 200px;
	}
}
.red {
	color: red;
}
