.invite-team {
  text-align: center;

  .typo-2 {
    margin: 40px 0;
    font-weight: bold;
  }
  .whole-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;

    .left-part {
      .invite-team-left-img {
        max-width: 450px;
        max-height: 450px;
      }
    }
  }
}
