.typo {
	margin-bottom: 10px;
}

.select-field {
	display: flex;
	gap: 80px;
	margin-top: 20px;
}
.switch-theme {
	display: flex;
	gap: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
	.theme-typo {
		padding: 6px;
	}
}
.social-contact {
	.website-typo {
		display: flex;
		gap: 20px;
		margin-bottom: 10px;
	}
}

.avatar-image {
	width: 100% !important;
	height: 150px !important;
	text-align: left !important;
}
