.startup {
  .welcome-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  .project-body {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    img {
      max-width: 450px;
      max-height: 450px;
    }
  }
}
