.main {
	text-align: center;
	.image-section {
		margin-left: 45%;
		width: 50%;
		height: 300px;
		background: url('../../../images/email-verify.svg');
		background-size: 150px;
		background-repeat: no-repeat;
		background-position: left;
		margin-bottom: -55px;
	}
	.text-section {
		.lines {
			margin-top: 20px;
			text-align: center;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.line {
				width: 25%;
				height: 1px;
				background: rgb(0, 0, 0);
			}
			.or {
				padding: 0 30px;
				font-weight: 500;
			}
		}
	}
	.resend {
		color: blue;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: darkblue;
		}
	}
}
