.main-sidebar-menu {
	overflow-y: auto !important;
	overflow-x: hidden;
	padding: 0 !important;
	.MuiListItemIcon-root {
		min-width: 45px !important;
	}
	.MuiToolbar-regular {
		min-height: 56px;
	}
}

.main-sidebar-menu::-webkit-scrollbar,
.menu .MuiDrawer-root .MuiDrawer-paper::-webkit-scrollbar
 {
	width: 0.3em;
}

.main-sidebar-menu::-webkit-scrollbar-track,.menu .MuiDrawer-root .MuiDrawer-paper::-webkit-scrollbar-track  {
	box-shadow: inset 0 0 6px rgba(151, 151, 151, 0.3);
}

.main-sidebar-menu::-webkit-scrollbar-thumb,.menu .MuiDrawer-root .MuiDrawer-paper::-webkit-scrollbar-thumb {
	background-color: rgba(151, 151, 151, 0.842);
	outline: 1px solid rgb(214, 214, 214);
	border-radius: 5px;
}

.menu-collapse-list {
	.MuiList-root {
		.MuiListItem-gutters {
			padding-left: 8px !important;
		}
		.list-child {
			padding: 5px 16px !important;
		}
	}
}

.side-menu {
	// @media (min-width: 600px) {
	// 	.MuiDrawer-paper {
	// 		width: 57px !important;
	// 	}
	// }
	// .MuiPaper-root {
	// 	background-color: #e0deff !important;
	// }
}

.menu-active {
	background-color: #eeeeee !important;
	.MuiTypography-body1 {
		color: #000 !important;
	}
	.MuiListItemIcon-root {
		color: #000 !important;
	}
}
.menu-active-light {
	background-color: #e0deff !important;
	.MuiTypography-body1 {
		color: #000 !important;
	}
}
