.group-task-stages {
  text-align: center;
  .line-1 {
    margin: 40px 0;
    font-weight: bold;
  }
  .form-task-stages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.group-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
