.login {
	padding: 20px 0 0 0;
	width: 100%;
	.right-menu-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.user-info {
		text-align: center;
		margin-bottom: 20px;
	}
	.avatar-menu {
		width: 150px;
		height: 150px;
		object-fit: contain;
	}
}
