.setup {
	text-align: center;

	.line1 {
		font-weight: 500 !important;
		font-size: 1.7rem;
		margin-top: 40px;
	}
	.line2 {
		font-weight: 2px;
	}
	#outlined-textarea {
		width: 400px;
	}
	.for-button {
		margin-top: 40px;
	}
	.MuiTypography-h4 {
		margin-top: 30px;
		font-weight: bolder !important;
	}
	.initial-project-img {
		height: 250px;
		width: 250px;
	}
}
