.sign-left-part {
  width: 100%;
  height: 100%;
  .left-sign-up,
  .left-login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(73, 71, 71);

    .MuiButton-label {
      text-decoration: underline;
    }
  }
  .left-login {
    background: rgb(255, 255, 255);
  }
  .left-sign-up {
    background: rgb(255, 255, 255);
  }
  .typo {
    font-size: 45px;
    margin-top: 10px;
  }
}
