.input-select-custom-dark{
  .select__single-value{
    color: white !important;
  }
  .select__placeholder {
    color: white !important;

  }
  .select__menu{
    background-color: #e0e0e0 !important;
  }
}
