.main-toogle{
  position: relative;
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 3em;
  width: 5em;
  border: 4px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  /* box-shadow: 0px 10px 25px #e4e7ec; */
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.1em, 0.18em);
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  cursor: pointer !important;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #485367;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(2.3em, 0.18em);
}


.mode_change{
  margin-top: 5px;
}