.welcome {
  .welcome-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  .welcome-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .welcome-image {
      max-width: 500px;
      max-height: 500px;
    }

    .icons {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
// display: flex;
// justify-content: flex-start;
// align-items: center;
// flex-direction: column;
