.common_table_list_dark {
	// .bg_primary {
	// 	background-color: #121212 !important;
	// }

	// .bg_paper {
	// 	background-color: #424242 !important;
	// }
	// .white {
	// 	color: white !important;
	// }
	// .border {
	// 	border-bottom: 1px solid #595959 !important;
	// }
	.ant-table-thead > tr > th {
		color: white !important;
		background: #424242 !important;
		border-bottom: 1px solid #595959 !important;
	}
	.ant-table-tbody > tr > td {
		background: #424242 !important;
		border-bottom: 1px solid #595959 !important;
	}
	.ant-table {
		color: white !important;
		border: 1px solid #595959 !important;
		.ant-table-title {
			color: white !important;
			background: #424242 !important;
			// border: 1px solid #595959 !important;
		}
	}
}
