@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('../node_modules/devexpress-gantt/dist/dx-gantt.min.css');
@import url('../node_modules/devexpress-diagram/dist/dx-diagram.min.css');
body {
	margin: 0;

	//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	//     sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//   font-family: 'Roboto Condensed', sans-serif;

#root,
.MuiTypography-body1,
.MuiTypography-h4,
.MuiButton-root {
	font-family: 'Krub', sans-serif !important;
}
.MuiTypography-h4,
.MuiTypography-h5 {
	font-family: 'Krub', sans-serif !important;
}

.table-cell-trucate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a:-webkit-any-link {
	cursor: pointer;

	text-decoration: none !important;
}

.dx-popup-content {
	z-index: 2100 !important;
}

#diagram {
	height: 900px;
}
#gantt {
	height: 700px;
}

.MuiAccordionSummary-root.Mui-expanded {
	min-height: 40px !important;
	max-height: 50px !important;
}
.MuiAccordion-root {
	margin: 16px 0 !important;
}
.MuiAccordionSummary-content.Mui-expanded {
	margin: 5px 0 !important;
}
.MuiAccordionDetails-root {
	padding: 0px 16px 16px !important;
}


.MuiSkeleton-root{
	border-radius: 6px !important;
}