.w-100 {
	width: 100% !important;
}
.w-50 {
	width: 50% !important;
}
.h-100 {
	height: 100% !important;
}
.vh-100 {
	height: 100vh !important;
}

.m-20 {
	margin: 20px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.ml-10 {
	margin-left: 10px !important;
}
.text-primary-color {
	color: rgb(179, 35, 119);
}

.p-20 {
	padding: 20px !important;
}
.p-10 {
	padding: 10px !important;
}
.pt-5 {
	padding-top: 5px !important;
}
.pt-8 {
	padding-top: 8px !important;
}
.pt-10 {
	padding-top: 10px !important;
}
.pt-60 {
	padding-top: 60px !important;
}
.pt-20 {
	padding-top: 20px !important;
}
.pt-40 {
	padding-top: 40px !important;
}
.pt-80 {
	padding-top: 80px !important;
}
.pt-100 {
	padding-top: 100px !important;
}
.pb-10 {
	padding-bottom: 10px !important;
}

.pl-10 {
	padding-left: 10px !important;
}
/* .min-height-100 {
	min-height: 100vh !important;
	overflow: hidden !important;
} */
.flex {
	display: flex !important;
}
.space-between {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}
.space-evenly {
	display: flex !important;
	justify-content: space-evenly;
	align-items: center;
}
.space-around {
	display: flex !important;
	justify-content: space-around;
	align-items: center;
}
.flex-center-column {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.flex-end-align-top {
	display: flex;
	justify-content: flex-end;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-wrap{
	flex-wrap: wrap;
}
.gap-40 {
	gap: 40px;
}
.gap-20 {
	gap: 20px;
}
.gap-10 {
	gap: 10px;
}

.flex-center-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-center-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
