.menu {
	.MuiDrawer-root {
		.MuiDrawer-paper {
			overflow-y: visible !important;
		}
	}
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.MuiListItem-gutters {
		padding-right: 0px !important;
	}
	.MuiCollapse-wrapper {
		.MuiListItemIcon-root {
			min-width: 40px !important ;
			.MuiSvgIcon-root {
				margin-right: 0px !important;
			}
		}
	}
	.listing {
		.MuiSvgIcon-root {
			margin-right: 10px !important;
		}
	}
}

.main-content-style {
	width: 100%;
	height: 99.7vh;
}

.side-nav-back {
	background-color: #e0deff;
}
